@{
    ViewData["Title"] = "Home Page";
}

<div data-bind="foreach: chartGroups">
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <canvas data-bind="attr: { id: 'stateConfirmedChart' + groupIndex }" id="stateConfirmedChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-4 col-lg-3">
            <canvas data-bind="attr: { id: 'stateDeathsChart' + groupIndex }" id="stateDeathsChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-4 col-lg-3">
            <canvas data-bind="attr: { id: 'percentInfectedChart' + groupIndex }" id="percentInfectedChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-4 col-lg-3">
            <canvas data-bind="attr: { id: 'percentFatalChart' + groupIndex }" id="percentFatalChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-end text-right">
            <div class="slidecontainer">
                <label>Offset (<span data-bind="text: offset"></span>)</label>
                <input type="range" min="0" max="30" value="15" class="slider" data-bind="value: offset, event: {change: $root.updateFatality}" />
            </div>
            <div class="slidecontainer">
                <label>Range (<span data-bind="text: range"></span>)</label>
                <input type="range" min="1" max="20" value="5" class="slider" data-bind="value: range, event: {change: $root.updateFatality}" />
            </div>
        </div>
    </div>
    <div class="row">
        <select id="stateSelect" class="form-control" data-bind="options: selectedCountry.states, value: selectedState, event: { change: $root.updateCharts }" value="Alabama">
            <option>Alabama</option>
            <option>California</option>
            <option>Colorado</option>
            <option>Florida</option>
            <option>Georgia</option>
            <option>Maryland</option>
            <option>New York</option>
            <option>Ohio</option>
        </select>
        <select id="countrySelect" class="form-control" data-bind="options: $root.countries, optionsText: 'name', value: selectedCountry, event: { change: $root.updateCharts }">
            <option>US</option>
        </select>

    </div>
</div>
<div class="row">
    <small>All data from <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins University</a></small>
</div>

@section Scripts
{
    <partial name="_KnockoutScriptsPartial" />
    <script src="~/lib/chart/Chart.js"></script>
    <script type="text/javascript">
        var countryListUrl = '@Url.Action("GetCountryList")';
        var stateDataUrl = '@Url.Action("GetStateData")';
    </script>
    <environment include="Development">
        <script src="~/js/home.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/home.min.js"></script>
    </environment>
}